
services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: api_reservas
    ports:
      - "3000:3000"
    volumes:
      # Mapeia todo o diretório do backend para o diretório de trabalho no contêiner
      - ./backend:/app
      # Adiciona um volume anônimo para node_modules para que o mapeamento local não o sobrescreva.
      - /app/node_modules
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    build:
      context: .
      dockerfile: ./postgres/Dockerfile
    container_name: db_reservas
    env_file:
      - ./.env
    
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

    volumes:
      # Mantém os dados do banco salvos entre reinicializações
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"


volumes:
  postgres_data: