.modalOverlay { 
    position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
    background-color: rgba(var(--color-black-rgb), 0.7); display: flex;
    justify-content: center; align-items: center; z-index: 1000; color:var(--color-black);
}
.modalContent { background: var(--color-white); padding: var(--spacing-xl); border-radius: var(--border-radius); width: 90%; max-width: 500px; }
.modalHeader { display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid var(--border-color-light); margin-bottom: var(--spacing-md); padding-bottom: var(--spacing-md);}
.modalHeader h2 { margin: 0; }
.closeButton { background: none; border: none; font-size: var(--font-size-xxl); cursor: pointer; }
.details p { margin: var(--spacing-xs) 0; }
.divider { margin: var(--spacing-md) 0; border: none; border-top: 1px solid var(--border-color-light); }
.status { padding: var(--spacing-xxs) var(--spacing-sm); border-radius: var(--border-radius-lg); color: var(--color-white); font-size: var(--font-size-sm); text-transform: capitalize; }
.status.aprovada { background-color: var(--color-success); }
.status.pendente { background-color: var(--color-warning); color: var(--color-dark-text); }
.status.rejeitada { background-color: var(--color-danger); }