.stars {
    display: flex;
    gap: var(--spacing-xxs);
    cursor: pointer;
    font-size: var(--font-size-xxxl); 
}
.on {
    color: var(--color-star-on); /* Laranja/Amarelo */
    transition: color 0.2s ease-in-out;
}

.off {
    color: var(--border-color-medium);
    transition: color 0.2s ease-in-out;
}