.userPage {
    padding: var(--spacing-xl);
    max-width: 1200px;
    margin: 0 auto;
}

.userPage h1 {
    color: var(--color-dark-text); /* Cor escura para o título */
}

.userPage p {
    color: var(--color-gray-500); /* Cor cinza escura para o parágrafo */
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-lg);
}
/* -------------------------------------------------- */

.actionPanel {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-md);
    margin-top: var(--spacing-lg);
    padding-top: var(--spacing-lg);
    border-top: 1px solid var(--border-color-light-alt);
}

.actionButton {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-info); /* Cor do tema do usuário (ciano) */
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: var(--border-radius);
    font-weight: bold;
    text-align: center;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(var(--color-black-rgb), 0.1);
}

.actionButton:hover {
    background-color: var(--color-info-dark);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(var(--color-black-rgb), 0.15);
}