.adminPage {
    padding-left: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
    padding-right: var(--spacing-xl);
    max-width: 1200px;
    margin: 0 auto;
}

.actionPanel {
    display: flex;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
    border-bottom: 1px solid var(--border-color-light-alt);
}

.listSectionHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: var(--spacing-lg); 
}
.actionButtonAlert {
    position: relative;
    overflow: hidden;
}

.actionButtonAlert::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -150%;
    width: 200%;
    height: 300%;
    
    
    background: linear-gradient(
        to right,
        rgba(var(--color-danger-rgb), 0) 0%, 
        rgba(var(--color-danger-rgb), 0.5) 50%,   
        rgba(var(--color-danger-rgb), 0) 100%   
    );
    
    /* Inclinação da faixa */
    transform: rotate(-45deg);
    
    /* Animação que faz a faixa se mover */
    animation: scanline 2.5s linear infinite;
}

/* Definição da animação "scanline" */
@keyframes scanline {
    0% {
        left: -150%; /* Começa totalmente à esquerda */
    }
    100% {
        left: 150%;  /* Termina totalmente à direita */
    }
}