.adminPage {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
}

.actionPanel {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Espaçamento entre os botões */
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #eee;
}

.actionButton, .actionButtonCadastro {
    text-decoration: none;
    color: white;
    background-color: #007bff; /* Azul */
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s;
}

.actionButton:hover {
    background-color: #0056b3;
}

.actionButtonCadastro {
    background-color: #28a745; /* Verde */
}

.actionButtonCadastro:hover {
    background-color: #218838;
}